In [2]:
%load_ext sql

In [3]:
import boto3
import configparser
import matplotlib.pyplot as plt
import pandas as pd
from time import time

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")

In [5]:
DWH_ENDPOINT="" 
DWH_ROLE_ARN=""

In [6]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Dwhuser123@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify

'Connected: dwhuser@sparkify'

In [7]:
#create s3 client
s3 = boto3.resource('s3',
                     region_name="us-west-2",
                     aws_access_key_id="",
                     aws_secret_access_key=""
                    )

In [8]:
sampleDbBucket =  s3.Bucket("udacity-dend")
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [47]:
%%sql
DROP TABLE IF EXISTS staging_events;
DROP TABLE IF EXISTS staging_events;
DROP TABLE IF EXISTS staging_songs;
DROP TABLE IF EXISTS songplays;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS songs;
DROP TABLE IF EXISTS artists;
DROP TABLE IF EXISTS time;

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [26]:
%%sql
CREATE TABLE IF NOT EXISTS staging_events (artist_name    VARCHAR,
                                           auth           VARCHAR,
                                           firstName      VARCHAR,
                                           gender         VARCHAR,
                                           itemInSession  INTEGER,
                                           lastName       VARCHAR,
                                           length         DECIMAL,
                                           level          VARCHAR,
                                           location       VARCHAR,
                                           method         VARCHAR,
                                           page           VARCHAR,
                                           registration   DECIMAL,
                                           sessionId      INTEGER,
                                           song           VARCHAR,
                                           status         INTEGER,
                                           ts             TIMESTAMP,
                                           userAgent      VARCHAR,
                                           userId         INTEGER);

CREATE TABLE IF NOT EXISTS staging_songs (artist_id         VARCHAR,
                                          artist_latitude   DECIMAL,
                                          artist_location   VARCHAR,
                                          artist_longitude  DECIMAL,
                                          artist_name       VARCHAR,
                                          num_songs         INTEGER,
                                          song_id           VARCHAR,
                                          title             VARCHAR,
                                          duration          DECIMAL,
                                          year              INTEGER);

CREATE TABLE IF NOT EXISTS songplays (songplay_id    BIGINT IDENTITY(0,1) PRIMARY KEY NOT NULL sortkey,
                                      start_time     TIMESTAMP NOT NULL,
                                      user_id        INTEGER NOT NULL,
                                      level          VARCHAR NOT NULL,
                                      song_id        VARCHAR NOT NULL distkey,
                                      artist_id      VARCHAR NOT NULL,
                                      session_id     INTEGER NOT NULL,
                                      location       VARCHAR NOT NULL,
                                      user_agent     VARCHAR NOT NULL);

CREATE TABLE IF NOT EXISTS users (user_id       INTEGER PRIMARY KEY NOT NULL sortkey,
                                  first_name    VARCHAR NOT NULL,
                                  last_name     VARCHAR NOT NULL,
                                  gender        VARCHAR NOT NULL,
                                  level         VARCHAR NOT NULL) diststyle all;

CREATE TABLE IF NOT EXISTS songs (song_id     VARCHAR PRIMARY KEY NOT NULL sortkey distkey,
                                  title       VARCHAR NOT NULL,
                                  artist_id   VARCHAR NOT NULL,
                                  year        INTEGER NOT NULL,
                                  duration    DECIMAL NOT NULL);

CREATE TABLE IF NOT EXISTS artists (artist_id   VARCHAR PRIMARY KEY NOT NULL sortkey,
                                    artist_name VARCHAR NOT NULL,
                                    location    VARCHAR,
                                    latitude   DECIMAL,
                                    longitude   DECIMAL) diststyle all;

CREATE TABLE IF NOT EXISTS time (start_time TIMESTAMP PRIMARY KEY NOT NULL sortkey,
                                 hour       INTEGER NOT NULL,
                                 day        INTEGER NOT NULL,
                                 week       INTEGER NOT NULL,
                                 month      INTEGER NOT NULL,
                                 year       INTEGER NOT NULL,
                                 weekday    INTEGER NOT NULL) diststyle all;

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [27]:
%%time
qry = """
    copy staging_events from {} 
    credentials 'aws_iam_role='
    region 'us-west-2' FORMAT AS JSON{} TIMEFORMAT as 'epochmillisecs';
""".format(config.get("S3","LOG_DATA"), config.get("S3","LOG_JSONPATH"))

%sql $qry

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
Done.
CPU times: user 5.41 ms, sys: 259 µs, total: 5.67 ms
Wall time: 2.22 s

In [28]:
%%time
qry1 = """
    copy staging_songs from {} 
    credentials 'aws_iam_role='
    region 'us-west-2' JSON 'auto';
""".format(config.get("S3","SONG_DATA"))

%sql $qry1

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
Done.
CPU times: user 4.62 ms, sys: 291 µs, total: 4.92 ms
Wall time: 1min 39s

In [46]:
%%time
qry2 = """INSERT INTO songplays(start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
          SELECT DISTINCT staging_events.ts, staging_events.userId, 
                 staging_events.level, staging_songs.song_id, staging_songs.artist_id, 
                 staging_events.sessionId, staging_events.location, staging_events.userAgent
          FROM staging_events
          JOIN staging_songs ON (staging_events.artist_name = staging_songs.artist_name);
"""

%sql $qry2

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
9957 rows affected.
CPU times: user 5.71 ms, sys: 1.65 ms, total: 7.35 ms
Wall time: 5.51 s

In [29]:
%%time
qry3 = """INSERT INTO users(user_id, first_name, last_name, gender, level)
          SELECT DISTINCT userId, firstName, lastName, gender, level
          FROM staging_events
          WHERE userId IS NOT NULL;
"""

%sql $qry3

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
105 rows affected.
CPU times: user 3.85 ms, sys: 3.23 ms, total: 7.08 ms
Wall time: 389 ms

In [32]:
%%time
qry4 = """INSERT INTO songs(song_id, title, artist_id, year, duration)
          SELECT DISTINCT song_id, title, artist_id, year, duration
          FROM staging_songs;
"""

%sql $qry4

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
14896 rows affected.
CPU times: user 5.81 ms, sys: 1.05 ms, total: 6.85 ms
Wall time: 1.99 s

In [30]:
%%time
qry5 = """INSERT INTO artists(artist_id, artist_name, location, latitude, longitude)
          SELECT DISTINCT artist_id, artist_name, artist_location, artist_latitude, artist_longitude
          FROM staging_songs;
"""

%sql $qry5

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
10025 rows affected.
CPU times: user 5.85 ms, sys: 0 ns, total: 5.85 ms
Wall time: 2 s

In [31]:
%%time
qry6 = """INSERT INTO time(start_time, hour, day, week, month, year, weekday)
          SELECT ts, EXTRACT(hour FROM ts) as hour, EXTRACT(day FROM ts) as day, EXTRACT(week FROM ts) as week,
          EXTRACT(month FROM ts) as month, EXTRACT(year FROM ts) as year, EXTRACT(weekday FROM ts) as weekday
          FROM staging_events;
"""

%sql $qry6

 * postgresql://dwhuser:***@dwh-cluster.cvdjbryktmlb.us-west-2.redshift.amazonaws.com:5439/sparkify
8056 rows affected.
CPU times: user 8.9 ms, sys: 179 µs, total: 9.07 ms
Wall time: 6.13 s